# Exploratory Data Analysis of Car Rentals

### Import Python libraries

In [3]:
import requests
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
%matplotlib inline     
sns.set(color_codes=True)

### Importing data from the dataset

In [10]:
# The code was removed by Watson Studio for sharing.

,fuelType,rating,renterTripsTaken,reviewCount,location.city,location.country,location.latitude,location.longitude,location.state,owner.id,rate.daily,vehicle.make,vehicle.model,vehicle.type,vehicle.year
0,ELECTRIC,5.00,13,12,Seattle,US,47.449107,-122.308841,WA,12847615,135,Tesla,Model X,suv,2019
1,ELECTRIC,5.00,2,1,Tijeras,US,35.111060,-106.276551,NM,15621242,190,Tesla,Model X,suv,2018
2,HYBRID,4.92,28,24,Albuquerque,US,35.127163,-106.566681,NM,10199256,35,Toyota,Prius,car,2012
3,GASOLINE,5.00,21,20,Albuquerque,US,35.149726,-106.711425,NM,9365496,75,Ford,Mustang,car,2018
4,GASOLINE,5.00,3,1,Albuquerque,US,35.208659,-106.601008,NM,3553565,47,Chrysler,Sebring,car,2010
5,GASOLINE,5.00,13,12,Albuquerque,US,35.068834,-106.576111,NM,7815747,58,Mercedes-Benz,GL-Class,suv,2012
6,GASOLINE,4.42,13,12,Albuquerque,US,35.045552,-106.633815,NM,3112016,42,GMC,Yukon XL,suv,2005
7,GASOLINE,4.90,12,10,Albuquerque,US,35.186542,-106.686481,NM,9536762,117,Ford,Expedition,suv,2018
8,GASOLINE,5.00,1,1,Albuquerque,US,35.061213,-106.629406,NM,14893743,102,Ford,Focus RS,car,2016
9,GASOLINE,4.76,22,17,Albuquerque,US,35.115363,-106.556911,NM,11389136,49,Ford,EcoSport,suv,2018

In [11]:
df.tail(5) # Last 5 observation of the dataset

,fuelType,rating,renterTripsTaken,reviewCount,location.city,location.country,location.latitude,location.longitude,location.state,owner.id,rate.daily,vehicle.make,vehicle.model,vehicle.type,vehicle.year
5846,GASOLINE,5.00,32,27,Honolulu,US,21.292950,-157.836856,HI,9794111,33,Chevrolet,Cruze,car,2017
5847,HYBRID,5.00,17,16,Aiea,US,21.375507,-157.914919,HI,2754690,49,Lexus,HS 250h,car,2010
5848,GASOLINE,4.94,18,17,Kailua,US,21.378719,-157.727816,HI,11313508,35,smart,fortwo,car,2013
5849,GASOLINE,NaN,1,0,Waipahu,US,21.376105,-158.020237,HI,4209883,77,GMC,Savana,van,2015
5850,GASOLINE,5.00,16,14,Kailua,US,21.378040,-157.730000,HI,11313508,35,smart,fortwo,car,2013